include registration-modal/registration-modal

.container
    .row.registration(id="registration")
        .col-xs-12
            h1.section-heading.text-center #{__('REGISTRATION.TITLE')}
            br
            p.lead #{__('REGISTRATION.DESC_ONE')}
            p.lead #{__('REGISTRATION.DESC_TWO')}

.container.registration
    br
    .row.text-center
        .col-lg-3.col-md-6
            br
            .card
                .card-header
                    h3 #{__('REGISTRATION.CARD_HEADER_ONE')}
                .card-body
                    h3.card-title #{__('REGISTRATION.FOR_DOC')}
                    h2.card-title(style="margin: 10px 0") 1000 #{__('REGISTRATION.UAH')}
                    br
                    h4.card-title #{__('REGISTRATION.FOR_STUDENTS')}
                    hr
                    h2.card-title(style="margin: 10px 0") 700 #{__('REGISTRATION.UAH')}

                .card-footer
                    br
                    //a.btn.btn-primary(data-toggle="modal", data-target="#registration-modal") #{__('REGISTRATION.REGISTER')}
        .col-lg-3.col-md-6
            br
            .card
                .card-header
                    h3 #{__('REGISTRATION.CARD_HEADER_TWO')}
                .card-body
                    h3.card-title #{__('REGISTRATION.FOR_DOC')}
                        h2.card-title(style="margin: 10px 0") 1200 #{__('REGISTRATION.UAH')}
                        br
                        h4.card-title #{__('REGISTRATION.FOR_STUDENTS')}
                        hr
                        h2.card-title(style="margin: 10px 0") 800 #{__('REGISTRATION.UAH')}
                .card-footer
                    br
                    //a.btn.btn-primary(data-toggle="modal", data-target="#registration-modal") #{__('REGISTRATION.REGISTER')}
        .col-lg-3.col-md-6
            br
            .card
                .card-header
                    h3 #{__('REGISTRATION.CARD_HEADER_TREE')}
                .card-body
                    h3.card-title #{__('REGISTRATION.FOR_DOC')}
                        h2.card-title(style="margin: 10px 0") 1400 #{__('REGISTRATION.UAH')}
                        br
                        h4.card-title #{__('REGISTRATION.FOR_STUDENTS')}
                        hr
                        h2.card-title(style="margin: 10px 0") 900 #{__('REGISTRATION.UAH')}

                .card-footer
                    br
                    //a.btn.btn-primary(data-toggle="modal", data-target="#registration-modal") #{__('REGISTRATION.REGISTER')}
        .col-lg-3.col-md-6
            br
            .card
                .card-header
                    h3 #{__('REGISTRATION.CARD_HEADER_FOUR')}
                .card-body
                    h4.card-title(style="margin: 10px 0") 700 #{__('REGISTRATION.UAH')} #{__('REGISTRATION.TO')} 31.12.2017
                    br
                    h4.card-title(style="margin: 10px 0") 800 #{__('REGISTRATION.UAH')} #{__('REGISTRATION.TO')} 31.03.2018
                    br
                    h4.card-title(style="margin: 10px 0") #{__('REGISTRATION.CARD_HEADER_TREE')}
                    hr
                    h2.card-title(style="margin: 10px 0") 900 #{__('REGISTRATION.UAH')}
                .card-footer
                    br
                    //a.btn.btn-primary(data-toggle="modal", data-target="#registration-modal") #{__('REGISTRATION.REGISTER')}


br
.container
    hr
