.modal.fade(id="registration-modal", tabindex="-1", role="dialog")
    .modal-dialog.modal-lg(role="document")
        form.modal-content(name="themesForm", onsubmit="return false")
            .modal-header
                button.close(type="button", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") ×
                h4.modal-title #{__("REGISTRATION_MODAL.TITLE")}
            .modal-body
                .container-fluid
                    .row
                        .col-xs-12.col-sm-6.col-md-6.col-lg-6
                            .form-group
                                label(for="name") #{__("THEMES_MODAL.NAME")}
                                - var namePlaceholder = __('THEMES_MODAL.NAME');
                                input.form-control(id="name", name="name", type="text", placeholder=`${namePlaceholder}`, aria-describedby="name", required="true", autofocus="true")
                        .col-xs-12.col-sm-6.col-md-6.col-lg-6
                            .form-group
                                label(for="email") Email
                                input.form-control(id="email", type="email", name="email", placeholder="Email", aria-describedby="email", required="true")

                    .row
                        .col-xs-12.col-sm-6.col-md-6.col-lg-6
                            .row
                                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                   .form-group
                                        label(for="phone") #{__('THEMES_MODAL.PHONE')}
                                        - var phonePlaceholder = __('THEMES_MODAL.PHONE');
                                        input.form-control(id="phone", type="tel", name="phone" placeholder=`${phonePlaceholder}`, aria-describedby="phone", required="true")
                                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                    .row
                                        .col-xs-12.col-sm-12.col-md-7.col-lg-7
                                            .form-group
                                                label.radio-inline
                                                    input#isDoctor(type='radio', name='isDoctor', value='doctor')
                                                    |  Лікар
                                                label.radio-inline
                                                    input#isIntern(type='radio', name='isDoctor', value='intern')
                                                    |  Студент чи інтерн
                                        .col-xs-12.col-sm-12.col-md-5.col-lg-5
                                            .form-group
                                                label.checkbox-inline
                                                    input#inlineCheckbox1(type='checkbox', value='option1')
                                                    |  Включно із вечерею

                        .col-xs-12.col-sm-6.col-md-6.col-lg-6
                            .form-group
                                label(for="phone") #{__('THEMES_MODAL.PHONE')}
                                - var phonePlaceholder = __('THEMES_MODAL.PHONE');
                                textarea.form-control(id="message", name="message" placeholder=`${phonePlaceholder}`, aria-describedby="message", rows="4", width="100%")
            .modal-footer
                .alert.alert-danger.text-center(id="alert-danger", role="alert", style="display:none") #{__('THEMES_MODAL.WELL_BAD')}
                .alert.alert-success.text-center(id="alert-success", role="alert", style="display:none") #{__('THEMES_MODAL.WELL_DONE')}
                button.btn.btn-default(type="button", data-dismiss="modal") #{__('THEMES_MODAL.CLOSE')}
                button.btn.btn-primary(id="theme-submit", type="submit") #{__('REGISTRATION_MODAL.REGISTER')}
                h5.pull-left(data-dismiss="modal") Сума до сплати:
                     span(id="total-money") 0

