.modal.fade(id="registration-modal", tabindex="-1", role="dialog")
    .modal-dialog.modal-lg(role="document")
        form.modal-content(id="registerForm", name="registerForm", onsubmit="return false")
            .modal-header
                button.close(type="button", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") ×
                h4.modal-title #{__("REGISTRATION_MODAL.TITLE")}
            .modal-body
                .container-fluid
                    .row
                        .col-xs-12.col-sm-6.col-md-6.col-lg-6
                            .form-group
                                label(for="name") #{__("THEMES_MODAL.NAME")}
                                - var namePlaceholder = __('THEMES_MODAL.NAME');
                                input.form-control(id="name", name="name", type="text", placeholder=`${namePlaceholder}`, aria-describedby="name", required="true", autofocus="true")
                        .col-xs-12.col-sm-6.col-md-6.col-lg-6
                            .form-group
                                label(for="email") Email
                                input.form-control(id="email", type="email", name="email", placeholder="Email", aria-describedby="email", required="true")

                    .row
                        .col-xs-12.col-sm-6.col-md-6.col-lg-6
                            .row
                                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                   .form-group
                                        label(for="phone") #{__('THEMES_MODAL.PHONE')}
                                        - var phonePlaceholder = __('THEMES_MODAL.PHONE');
                                        input.form-control(id="phone", type="tel", name="phone" placeholder=`${phonePlaceholder}`, aria-describedby="phone", required="true")
                                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                    .row
                                        .col-xs-12.col-sm-12.col-md-7.col-lg-7
                                            .form-group(id="ticket-version")
                                                label.radio-inline
                                                    input#isDoctor(type='radio', name='isDoctor', value="doctor", required="true", checked)
                                                    |  #{__('REGISTRATION_MODAL.DOCTOR')}
                                                label.radio-inline
                                                    input#isIntern(type='radio', name='isDoctor', value="intern", required="true")
                                                    | #{__('REGISTRATION_MODAL.ST_OR_INTERN')}
                                        .col-xs-12.col-sm-12.col-md-5.col-lg-5
                                            .form-group
                                                label.checkbox-inline
                                                    input#dinner(type='checkbox', name="dinner", checked)
                                                    |  #{__('REGISTRATION_MODAL.DINNER_INCLUDE')}

                        .col-xs-12.col-sm-6.col-md-6.col-lg-6
                            .form-group
                                label(for="phone") #{__('REGISTRATION_MODAL.DESCRIPTION')}
                                - var messagePlaceholder = __('REGISTRATION_MODAL.DESCRIPTION');
                                textarea.form-control(id="message", name="message" placeholder=`${messagePlaceholder}`, aria-describedby="message", rows="4", width="100%")
            .modal-footer
                span(id='pay-insert-area', style="background: green;")
                span(id='pay-hide-area')
                    button.btn.btn-default(id="register-pay-after" , type="button", data-dismiss="modal") #{__('THEMES_MODAL.CLOSE')}
                    button.btn.btn-primary(id="register-submit", type="submit") #{__('REGISTRATION_MODAL.REGISTER')}
                h5.pull-left(data-dismiss="modal") #{__('REGISTRATION_MODAL.AMOUNT_DUE')} :
                     span(id="total-money")

