.modal.fade(id="registration-modal", tabindex="-1", role="dialog")
    .modal-dialog.modal-lg(role="document")
        form.modal-content(id="register-form", name="registerForm")
            .modal-header
                button.close(type="button", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") ×
                h4.modal-title #{__("REGISTRATION_MODAL.TITLE")}
            .modal-body
                .container-fluid
                    .row
                        .col-xs-12.col-sm-6.col-md-6.col-lg-6
                            .form-group
                                label(for="name") #{__("THEMES_MODAL.NAME")}
                                - var namePlaceholder = __('THEMES_MODAL.NAME');
                                input.form-control(id="name", name="name", type="text", placeholder=`${namePlaceholder}`, aria-describedby="name", required="true", autofocus="true")
                        .col-xs-12.col-sm-6.col-md-6.col-lg-6
                            .form-group
                                label(for="email") Email
                                input.form-control(id="email", type="email", name="email", placeholder="Email", aria-describedby="email", required="true")

                    .row
                        .col-xs-12.col-sm-6.col-md-6.col-lg-6
                            .form-group
                                label(for="register-country") #{__("REGISTRATION_MODAL.COUNTRY")}
                                - var registerCountryPlaceholder = __("REGISTRATION_MODAL.COUNTRY");
                                input.form-control(
                                id="register-country",
                                name="register-country",
                                type="text",
                                placeholder=`${registerCountryPlaceholder}`,
                                aria-describedby="register country",
                                required="true")
                        .col-xs-12.col-sm-6.col-md-6.col-lg-6
                            .form-group
                                label(for="email") #{__('REGISTRATION_MODAL.CITY')}
                                - var registrationCityPlaceholder = __('REGISTRATION_MODAL.CITY')
                                input.form-control(
                                id="register-city",
                                type="text",
                                name="register-city",
                                placeholder=`${registrationCityPlaceholder}`,
                                aria-describedby="register city",
                                required="true")
                    .row
                        .col-xs-12.col-sm-6.col-md-6.col-lg-6
                            .form-group
                                label(for="phone") #{__('THEMES_MODAL.PHONE')}
                                - var phonePlaceholder = __('THEMES_MODAL.PHONE');
                                input.form-control(
                                id="phone",
                                type="tel",
                                name="phone",
                                placeholder=`${phonePlaceholder}`,
                                aria-describedby="phone",
                                required="true")
                        .col-xs-12.col-sm-6.col-md-6.col-lg-6
                            .form-group
                                label(for="register-work-place") #{__('REGISTRATION_MODAL.WORK_PLACE')}
                                - var registerWorkingPlacePlaceholder = __('REGISTRATION_MODAL.WORK_PLACE');
                                input.form-control(
                                id="register-work-place",
                                type="text",
                                name="register-work-place",
                                placeholder=`${registerWorkingPlacePlaceholder}`,
                                aria-describedby="working place",
                                required="true")
                    .row
                        .col-xs-12.col-sm-6.col-md-6.col-lg-6
                            .row
                                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                    .row
                                        .col-xs-12.col-sm-12.col-md-7.col-lg-7
                                            .form-group(id="ticket-version")
                                                label.radio-inline
                                                    input#isDoctor(type='radio', name='isDoctor', value="doctor", required="true", checked)
                                                    |  #{__('REGISTRATION_MODAL.DOCTOR')}
                                                label.radio-inline
                                                    input#isIntern(type='radio', name='isDoctor', value="intern", required="true")
                                                    | #{__('REGISTRATION_MODAL.ST_OR_INTERN')}
                                        .col-xs-12.col-sm-12.col-md-5.col-lg-5
                                            .form-group
                                                label.checkbox-inline
                                                    input#dinner(type='checkbox', name="dinner", checked)
                                                    |  #{__('REGISTRATION_MODAL.DINNER_INCLUDE')}

                        .col-xs-12.col-sm-6.col-md-6.col-lg-6
                            .form-group
                                label(for="phone") #{__('REGISTRATION_MODAL.DESCRIPTION')}
                                - var messagePlaceholder = __('REGISTRATION_MODAL.DESCRIPTION');
                                textarea.form-control(id="message", name="message" placeholder=`${messagePlaceholder}`, aria-describedby="message", rows="4", width="100%")
            .modal-footer.registration-modal-footer
                h5.amount-due(data-dismiss="modal") #{__('REGISTRATION_MODAL.AMOUNT_DUE')} :
                    span(id="total-money")
  
                span.finish-message
                    span(id="finish-message") #{__('REGISTRATION_MODAL.FINISH_REGISTRATION')}
                
                span(id='pay-insert-area')
                
                span(id='pay-hide-area')
                    button.btn.btn-default(id="register-pay-after" , type="button", data-dismiss="modal") #{__('THEMES_MODAL.CLOSE')}
                    button.btn.btn-primary(id="register-submit", type="submit") #{__('REGISTRATION_MODAL.REGISTER')}
                
